<% locals.title = 'Your Folders' %>
<%- include('partials/top') %>

<h1><%= title %></h1>
<a href="/folders/create" class="button">New Folder</a>

<% if (folders.length) { %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Files</th>
        <th>Size</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      <% for (const folder of folders) { %>
        <tr>
          <td><a href="/folders/<%= folder.id %>"><%= folder.name %></a></td>
          <td><%= folder.fileCount %></td>
          <td><%= folder.totalSize %></td>
          <td>
            <a href="/folders/<%= folder.id %>/rename" class="button">Rename</a>
            <a href="/folders/<%= folder.id %>/delete" class="button">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p>There are no folders yet...</p>
<% } %>

<%- include('partials/bot') %>
